html {
    font-family: 'Dosis', sans-serif;
}

body {
    background-color: slategray;
}

header {
    text-align: center;
    background-color: slategray;
}

header > .wrapper {
    background-color: lightgray;
}

header .nav {
    width: 15em;
    height: 2em;
    margin: 0 auto;
    display: flex;
    justify-content: stretch;

}

header .nav > div {
    flex-grow: 1;
    line-height: 2em;
    border-left: 1px solid slategray;
    border-right: 1px solid slategray;
}

header .nav > div:hover {
    background-color: lightslategray;
}

.main {
    width: 100%;
}

#gameboard {
    width: 500px;
    height: 500px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    grid-template-rows: repeat(10,1fr);
    gap: 1px;
    background-color: slategray;
}