.tick-counter-wrapper {
    width: 100%;
    text-align: center;
}

.tick-counter {
    width: fit-content;
    padding: 0 20px;
    margin: 4px auto;
    font-size: 1rem;
    font-weight: bold;
    line-height: 2em;
    color: black;
    background-color: lightgrey;
}