#gameboard {
    width: 100vw;
    max-width: calc(100vh - 150px);
    height: 100vw;
    max-height: calc(100vh - 150px);
    padding: 20px;
    margin: 10px auto;
    display: grid;
    gap: 1px;
    background-color: slategray;
}